.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 8rem;

  &__list {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;

    @include respond(tab-small) {
      flex-direction: column;
      align-items: center;
    }

    .card {
      width: 30rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 2rem;
      border-radius: 3px;
      box-shadow: rgba(196, 204, 210, 0.2) 0px 8px 26px;

      &__icon {
        height: 3.2rem;
      }

      .n-h3 {
        font-size: 1.6rem;
      }

      .n-p {
        font-size: 1.4rem;
      }
    }
  }
}
