.home {
  @include respond(desktop) {
    padding: 0 6rem;
  }

  @include respond(tab-small) {
    padding: 0 3rem;
  }

  min-height: 100vh;

  display: flex;
  align-self: center;
  flex-direction: column;
}
